<% if resource.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <%= resource.errors.count %>件のエラーが発生しました。<br>
      <% resource.errors.full_messages.each do |message| %>
        <li class="ml-3"><%= message %></li>
      <% end %>
  </div>
<% end %>
