div.container
  div.mt-4
    h1
      = @user.name
      | さんのマイページ

  br

  div.h3
    = link_to my_course_courses_path do
      <i class="fas fa-shoe-prints fa-fw"></i>
      | 自分の投稿したコース一覧

  br

  div.h3
    = link_to bookmark_courses_path do
      <i class="fas fa-bookmark fa-fw"></i>
      | ブックマークしたコース一覧

  br

  div.h3
    = link_to edit_user_path(@user) do
      <i class="fas fa-user fa-fw"></i>
      | ユーザー情報編集
