  <footer>
    <div class="bg-info pt-2 fixed-bottom">
      <div class="container text-center text-light">
        <p>©Copyright2021 Sanpomichi All Rights Reserved.</p>
      </div>
    </div>
  </footer>